* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(img/fundo.png) repeat-x;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(img/detalhe-topo.png) no-repeat right top;
    padding: 40px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(img/logo.png);
    text-indent: -3000px;
    margin-bottom: 20px;
    border: 1px solid red;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topo ul{
    float: left;
    background: #b10333;
    margin-top: 30px;
    padding: 10px 0px;
}

#topo ul li {
    float: left;
}


#topo ul a {
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #fff;
    display: block;
    background: url(img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}