/* '*' quer dizer tudo, nesse caso abaixo será feita
    uma limpeza na formatação padrão
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, rgb(60, 60, 245), rgb(248, 248, 86));
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

#area-cabecalho {
    background-color: yellow;
    text-align: center;
    padding: 5px;
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}
a:hover {
    color: orange;
    background-color: #fff;
}

#area-logo,
#area-menu {
    padding: 10px;
}

h1 {
    color: #4e4e4e;
    font-size: 2.2em;
}

.branco {
    color: white;
}