ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    border:  1px solid red;
    display: block;
    width: 200px;
    height: 40px;
    background: url(img/menu.png) no-repeat left bottom;
    text-decoration: none;
    line-height : 40px;
}

a:hover {
    background-position: right bottom;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background: url(img/seta.png) no-repeat left center;
    padding-left: 20px;
} */