ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    display: block;
    width: 200px;
    height: 40px;
    background:#f7b600 url(img/menu.png) no-repeat left bottom;
    text-decoration: none;
    line-height : 40px;
    text-indent: 40px;
    color: black;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

