ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    display: block;
    width: 200px;
    height: 40px;
    background:#f7b600 url(img/menu.png) no-repeat left bottom;
    text-decoration: none;
    line-height : 40px;
    text-indent: 40px;
    color: black;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#contato #navegacao .contato a,
#servicos #navegacao .servicos a{
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

/*
    explicando, em home por exemplo, é definida um id pro body,
    o id leva o nome da página, em seguida é colocado 'navegacao' para
    evitar erros, e então é criada uma classe que também leva o nome da página e por ultima o 'a' que indica que todas essas regras se aplicam ao link
    
*/