* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(246, 238, 238);
    max-width: 1260px;
    min-width: 978px;
}

/* início da navbar */

#navbar {
    width: 1000px;
    height: 100px; 
}

.logo img{
    width: 200px;
    float: left;
    display: inline;
    margin: -20px -10px 0px 20px;
}


#navbar_lateral{
    float: left;
    list-style-type: none;
    margin: 30px -20px 0px 180px;
    text-align: center;
    padding: 10px;
    border: 1px solid #0d39b4;
    border-radius: 50px;

}

#navbar_lateral a{
    font-size: 1.4em;
    text-decoration: none;
    color: #6c757d;
    text-align: center;
    padding:10px;
}

#navbar_lateral a:hover{
    color: #3b4249;
}

#login {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    width: 100px;
    border-radius: 50px;
    margin: 20px 20px 0px 0px;
    padding: 15px 20px;
    text-align: center;
    background: linear-gradient(to right, #3a86ff, #28af28);
    display: inline;
    float: right;
    color: #fff;
    cursor: pointer;
}

#login:hover{
    color: black;

}

/* fim da navbar */
/* início conteúdo */

#conteudo {
    width: 100%;
}

.paragrafo {
    width: 45%;
    margin: 50px;
    height: 300px;
    float: left;
}

#conteudo h1{
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px 0px 0px 120px;
    display: inline;
}

#conteudo p{
    color: #6c757d;
    font-size: 1.5em;
    margin: 0px 20px 10px 100px;
    display: inline;
    float: left;
    padding: 10px;
    height: 200px;
    width: 400px;
    text-align: unset;   
}

.linha {
    margin: 20px 0px 20px 110px;
    padding: 0;
    width: 300px;
    border: 2px solid rgba(40, 175, 40, 0.8);
}

#conteudo .modelo_png img{
    position: absolute;
    width: 240px;
    float: right;
    z-index: 2;
    margin: -93px 0px 0px 50px;
    border-bottom-right-radius: 132px;
    border-bottom-left-radius: 82px;
    /* border: 1px solid red; */
}

.circulo {
    margin: -50px 20px 0px -10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: white;
}

.bloco {
    margin: 40px 100px 0px 0px;
    float: right;
    width: 250px;
    height: 150px;
    padding: 100px 120px;
    border-radius: 50px;
    background: linear-gradient(to right, rgba(121, 167, 241, 0.8), rgba(40, 175, 40, 0.8));
    z-index: 0;
}

#redes_sociais {
  border: 1px solid #ddd;
            border-radius: 20px;
            padding: 25px 45px;
            margin-left: -70px;
            display: flex;
            background: linear-gradient(to bottom, #28af28, #3a86ff);
            flex-direction: column;
            position: absolute;
            top: 34%;
            left: 20px;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 50px;
}

/* fim conteúdo */
/* início do conteúdo final */

#conteudo_final {
    margin: 0px 0px 0px 150px;
    width: 1000px;
    height: auto;
    float: left;
}

.info_down_cad a{
    color: #3a86ff;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
    margin: 10px 20px 60px 50px;
    font-size: 2em;
    border-radius: 50px;
    float: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.area_prof_tra {
    margin: 100px 0px 0px 0px;
    padding: 20px;
}

.area_prof_tra a{
    background: linear-gradient(to right, rgba(51, 123, 240, 0.8), rgba(28, 175, 28, 0.8));
    padding: 30px 80px 30px 80px;
    margin: 0px 0px 0px 60px;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* fim do conteúdo final */
/* início rodapé */

#rodape {
    width: auto;
    height: auto;
    float: left;
    padding: 40px;
}

#rodape img{
    margin: 40px 0px 20px 55%;
    width: 100px;
}

#rodape p{
    margin-left: 120px;
    font-size: 1.2em;
}

#rodape a {
    margin-left: 300px;
}


/* fim rodapé */

